<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/header.html"></head>

<body>
<div class="container mt-1">

  <div><h2>Заметки</h2></div>

  <div class="alert alert-primary" role="alert">

    <div class="row">
      <div class="col-md-10">
        <a href="/note/add" class="btn btn-primary">Создать заметку</a>
      </div>
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Меню заметок
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/users/list" sec:authorize="hasRole('ROLE_ADMIN')">Пользователи</a>
            <a class="dropdown-item" href="/note/list" >Заметки</a>
            <a class="dropdown-item" th:href="@{/logout}">Выход</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card mt-1" th:each="note: ${notes}">
    <div class="card-header text-uppercase font-weight-bold" th:text="${note.getTitle()}"></div>
    <div class="card-body">

      <p class="card-text" th:text="${note.getContent()}"></p>

      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 d-flex justify-content-end">
          <div class="row ml-0 mr-0">

            <form action="/note/edit" method="get" class="mr-1">
              <input type="hidden" name="id" th:value="${note.getId()}">
              <button type="submit" class="btn btn-warning">
                <i class="material-icons mr-1">изменить</i>
              </button>
            </form>

              <form action="/note/delete" method="post">
                <input type="hidden" name="id" th:value="${note.getId()}">
                <button type="submit" class="btn btn-danger">
                  <i class="material-icons mr-1">удалить</i>
                </button>
              </form>

          </div>
        </div>
      </div>


    </div>
  </div>


</div>


</body>
</html>
