<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/header.html"></head>

<body>

<div class="container mt-1">

  <h2 th:text="${note == null} ? 'Создание заметки' : 'Редактирование заметки'"></h2>

  <form action="/note/edit" method="post">

    <div class="form-group">
      <label for="title">Оглавление</label>
      <input class="form-control" id="title" name="title" th:value="${note == null ? '':note.getTitle()}">
    </div>

    <div class="form-group">
      <label for="content">Текст заметки</label>
      <textarea class="form-control" id="content" name="content"
             th:text="${note == null ? '':note.getContent()}">
      </textarea>
    </div>

    <input type="hidden" name="id" th:value="${note == null ? -1 :note.getId()}">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-success mr-1">Сохранить</button>
      <a href="/note/list" class="btn btn-danger">Отмена</a>
    </div>

  </form>

</div>

</body>
</html>
