<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/header.html"></head>

<body>

<div class="container mt-1">

  <h2 th:text="${note.getId()==0} ? 'Створення замітки' : 'Редагування замітки'"></h2>

  <form action="/note/edit" method="post">

    <div class="form-group">
      <label for="noteTitle">Header</label>
      <input class="form-control" id="noteTitle" name="noteTitle" th:value="${note.getTitle()}">
    </div>

    <div class="form-group">
      <label for="noteContent">Text</label>
      <textarea class="form-control" id="noteContent" name="noteContent"
             th:text="${note.getContent()}">
      </textarea>
    </div>

    <input type="hidden" name="id" th:value="${note.getId()}">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-success mr-1">Save</button>
      <a href="/note/list" class="btn btn-danger">Cancel</a>
    </div>

  </form>

</div>

</body>
</html>
