<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header.html"></head>
<meta charset="UTF-8">
<body>
<div class="container mt-1">

    <div><h2>Пользователи</h2></div>

    <div class="alert alert-primary" role="alert">

        <div class="row">
            <div class="col-md-10">
                <a href="/users/add" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">Добавить пользователя</a>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меню
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/note/list" sec:authorize="hasRole('ROLE_ADMIN')">Заметки</a>
                        <a class="dropdown-item" th:href="@{/logout}">Выход</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <table class="table table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Роль</th>
            <th scope="col">Валидность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}"
            th:classappend="${user.getEnabled()==0} ? 'bg-secondary text-white' : 'bg-white text-dark'">
            <th scope="row" th:text="${user.getId()}"></th>
            <th th:text="${user.getUsername()}"></th>
            <td th:text="${user.getRole().getRole()}"></td>
            <td>
                <div th:switch="${user.getEnabled()}">
                    <p th:case="1">Валидный</p>
                    <p th:case="0">Не валидный</p>
                </div>
            </td>
            <td>

                <div class="d-flex justify-content-end">
                    <form action="/users/edit" method="get" class="mr-1" sec:authorize="hasRole('ROLE_ADMIN')">
                        <input type="hidden" name="id" th:value="${user.getId()}">
                        <button type="submit" class="btn btn-warning">
                            <i style="width: 80px; height:50px" class="a1">изменить</i>
                        </button>
                    </form>

                    <form action="/users/delete" method="post" sec:authorize="hasRole('ROLE_ADMIN')">
                        <input type="hidden" name="id" th:value="${user.getId()}">
                        <button type="submit" class="btn btn-danger">
                            <i style="width: 80px; height:50px" class="a1">удалить</i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
