<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head th:insert="fragments/header.html"></head>
<body>
<div class="container mt-1">
    <h2 th:text="${user== null} ? 'Добавление пользователя': 'Редактирование'"></h2>
    <div class="row">
        <div class="col-12">
            <form action="/users/edit" method="post">
                <div class="form-group">
                    <label class="form-check-label" for="username">Имя</label>
                    <input class="form-control" id="username" name="username" th:value="${user == null ? '':user.getUsername()}" readonly
                           onfocus="this.removeAttribute('readonly')">
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="role">Роль доступа</label>
                    <select class="form-control" id="role" name="role">
                        <option th:selected="${'ADMIN'.equals(role)}">Admin</option>
                        <option th:selected="${'USER'.equals(role)}">User</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" readonly
                           onfocus="this.removeAttribute('readOnly')">
                    <small id="passwordHelp" class="form-text text-muted">
                        Задайте новый если хотите его поменять
                    </small>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="enabled" name="enabled"
                           th:checked="${user.getEnabled() == 1}">
                    <label class="form-check-label" for="enabled">Активный</label>
                </div>

                <small id="roleHelp" class="form-text text-muted">
                    <p>Admin имеет полные права</p>
                    <p>User может только смотреть заметки</p>
                </small>
                <input type="hidden" name="id" th:value="${user == null ? -1 : user.getId()}">

                <div class="form-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success mr-1">Сохранить</button>
                    <a href="/users/list" class="btn btn-danger">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>